services:
  ackee:
    image: electerious/ackee
    restart: always
    environment:
      - ACKEE_MONGODB=mongodb://mongo:27017/ackee
      - ACKEE_USERNAME=${ACKEE_USERNAME:-admin}
      - ACKEE_PASSWORD=${ACKEE_PASSWORD:-secret}
      - ACKEE_ALLOW_ORIGIN=${ACKEE_ALLOW_ORIGIN:-*}
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  mongo:
    image: mongo:4
    restart: always
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
